In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
from sqlalchemy import create_engine

# Setup Steps

In [2]:
# Set where .csv files needs to be saved
base_output_path = "data"

# Create a POSTGRES database with the name 'COVID19_db'
# Replace username:password if it's not set to postgres:postgres
DATABASE_URI = os.environ.get('DATABASE_URL', '') or "postgresql://postgres:postgres@localhost:5432/COVID19_db"
print(DATABASE_URI)

engine = create_engine(DATABASE_URI)

postgresql://postgres:postgres@localhost:5432/COVID19_db

In [3]:
# Set URL's
url_covid_states = 'https://raw.githubusercontent.com/COVID19Tracking/covid-tracking-data/master/data/states_daily_4pm_et.csv'

# Number of tests performed and people hospitalized per state

In [5]:
# Test data statistics
df_covid_states = pd.DataFrame()
df_covid_states = pd.read_csv(url_covid_states).fillna(0)

df_covid_states['date'] = pd.to_datetime(df_covid_states['date'],format='%Y%m%d')
df_covid_states['dateChecked'] = pd.to_datetime(df_covid_states['dateChecked']).dt.date
df_covid_states = df_covid_states.drop(['hash'], axis=1)
df_covid_states = df_covid_states.rename(columns = {'total':'dontuse_total','dateChecked':'check_date','totalTestResults':'total_tests','deathIncrease':'death_inc','hospitalizedIncrease':'hospital_inc','negativeIncrease':'neg_inc','positiveIncrease':'pos_inc','totalTestResultsIncrease':'tot_tests_inc'})
df_covid_states.head()

,date,state,positive,negative,pending,hospitalized,death,dontuse_total,check_date,total_tests,fips,death_inc,hospital_inc,neg_inc,pos_inc,tot_tests_inc
0,2020-04-01,AK,133.0,4470.0,0.0,9.0,3.0,4603,2020-04-01,4603,2,0.0,2.0,876.0,14.0,890.0
1,2020-04-01,AL,1077.0,6697.0,0.0,0.0,26.0,7774,2020-04-01,7774,1,13.0,0.0,399.0,96.0,495.0
2,2020-04-01,AR,584.0,7354.0,0.0,90.0,10.0,7938,2020-04-01,7938,5,2.0,26.0,1395.0,61.0,1456.0
3,2020-04-01,AS,0.0,20.0,6.0,0.0,0.0,26,2020-04-01,20,60,0.0,0.0,17.0,0.0,17.0
4,2020-04-01,AZ,1413.0,19645.0,0.0,149.0,29.0,21058,2020-04-01,21058,4,5.0,71.0,1563.0,124.0,1687.0

In [6]:
engine.execute( '''TRUNCATE TABLE covid_data_states''' )
df_covid_states.to_sql(name='covid_data_states', con=engine, if_exists='append', index=False)

In [ ]:
#Drop some columns
new_covid_df = read_covid[['date','state','positive']]

date_list = []
for i in new_covid_df:
    date_list.append(i)
    print(i)

In [ ]:
date_dict = {'date':date_list, 'state': read_covid['state'],'total': read_covid['positive']}

date_df = pd.DataFrame(date_dict)
date_df.head()

In [ ]:
covid_states_pivot = date_df.pivot(index='state',values='total',columns='date')
covid_states_pivot.reset_index()
covid_states_pivot.to_csv('clean_covid_states.csv')