In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
from sqlalchemy import create_engine

# Setup Steps

In [2]:
# Set where .csv files needs to be saved
base_output_path = "/Users/josephyi/Dropbox/BootCamp Final Project/Data_files/data"

# Create a POSTGRES database with the name 'COVID19_db'
# Replace username:password if it's not set to postgres:postgres
DATABASE_URI = os.environ.get('DATABASE_URL', '') or "postgresql://postgres:postgres@localhost:5432/COVID19_db"
print(DATABASE_URI)

engine = create_engine(DATABASE_URI)

postgresql://postgres:postgres@localhost:5432/COVID19_db

In [3]:
# Set URL's

# REALTIME DOWNLOADS
url_covid = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'
# url_worldometer = 'https://www.worldometers.info/coronavirus/coronavirus-age-sex-demographics/'
url_covid_states = 'https://raw.githubusercontent.com/COVID19Tracking/covid-tracking-data/master/data/states_daily_4pm_et.csv'

# MANUALLY DOWNLOAD FIRST - url_covid_ind_cases = 'https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset#COVID19_line_list_data.csv
url_covid_ind_cases_open = os.path.join(base_output_path, 'COVID19_open_line_list.csv')
url_covid_ind_cases_closed = os.path.join(base_output_path, 'COVID19_line_list_data.csv')
url_tests_and_hospital = os.path.join(base_output_path, 'us_states_covid19_daily.csv')
url_states = os.path.join(base_output_path, 'states.csv')
url_census = os.path.join(base_output_path, 'acs2017_census_tract_data.csv')

# url_BoL_stats

In [4]:
# Find last time covid_data was loaded
query_str = open('sql/max_db_date.sql')
query_text = ""
for text in query_str:
    query_text = query_text + text

rs = engine.execute(query_text)

for i in rs:
    last_db_date = (i[0])
print(last_db_date)

None

# Worldometer data (age, gender, pre-conditions)

In [5]:
# Get Age, Gender and PreCondition Statistics
# df_worldometer_stats = pd.read_html(url_worldometer, header = 0)
# df_age = df_worldometer_stats[0].iloc[:,0:3].fillna(0)
# df_gender = df_worldometer_stats[1].iloc[:,0:2].fillna(0)
# df_precondition = df_worldometer_stats[2].iloc[:,0:3].fillna(0)

# df_age = df_age.rename(columns={'AGE':'age','DEATH RATE confirmed cases':'pct_deaths_confirmed','DEATH RATE all cases':'pct_deaths_all'})
# df_age['pct_deaths_confirmed'] = df_age['pct_deaths_confirmed'].astype(str).str[:-1]
# df_age['pct_deaths_confirmed'] = pd.to_numeric(df_age['pct_deaths_confirmed']).fillna(0)
# df_age['pct_deaths_all'] = df_age['pct_deaths_all'].str.replace('no fatalities','0')
# df_age['pct_deaths_all'] = pd.to_numeric(df_age['pct_deaths_all'].astype(str).str[:-1]).fillna(0)

# df_gender = df_gender.rename(columns={'SEX':'gender','DEATH RATE confirmed cases':'pct_deaths_confirmed'})
# df_gender['pct_deaths_confirmed'] = pd.to_numeric(df_gender['pct_deaths_confirmed'].astype(str).str[:-1])

# df_precondition = df_precondition.rename(columns={'PRE-EXISTING CONDITION':'precondition','DEATH RATE confirmed cases':'pct_deaths_confirmed','DEATH RATE all cases':'pct_deaths_all'})
# df_precondition['pct_deaths_confirmed'] = pd.to_numeric(df_precondition['pct_deaths_confirmed'].astype(str).str[:-1]).fillna(0)
# df_precondition['pct_deaths_all'] = pd.to_numeric(df_precondition['pct_deaths_all'].astype(str).str[:-1])

In [6]:
# df_age
# output_path = os.path.join(base_output_path, "age_data.csv")
# df_age.to_csv(output_path)
url_age = os.path.join(base_output_path, 'age_data.csv')
df_age = pd.read_csv(url_age)
df_age

               age  pct_deaths_confirmed  pct_deaths_all
0    80+ years old                  21.9            14.8
1  70-79 years old                   0.0             8.0
2  60-69 years old                   0.0             3.6
3  50-59 years old                   0.0             1.3
4  40-49 years old                   0.0             0.4
5  30-39 years old                   0.0             0.2
6  20-29 years old                   0.0             0.2
7  10-19 years old                   0.0             0.2
8    0-9 years old                   0.0             0.0

In [7]:
# df_gender
# output_path = os.path.join(base_output_path, "gender_data.csv")
# df_gender.to_csv(output_path
url_gender = os.path.join(base_output_path, 'gender_data.csv')
df_gender = pd.read_csv(url_gender)
df_gender

   gender  pct_deaths_confirmed
0    Male                   4.7
1  Female                   2.8

In [8]:
# df_precondition
# output_path = os.path.join(base_output_path, "precondition_data.csv")
# df_precondition.to_csv(output_path)
url_precondition = os.path.join(base_output_path, 'precondition_data.csv')
df_precondition = pd.read_csv(url_precondition)
df_precondition

                  precondition  pct_deaths_confirmed  pct_deaths_all
0       Cardiovascular disease                  13.2            10.5
1                     Diabetes                   9.2             7.3
2  Chronic respiratory disease                   8.0             6.3
3                 Hypertension                   8.4             6.0
4                       Cancer                   7.6             5.6
5   no pre-existing conditions                   0.0             0.9

In [9]:
engine.execute( '''TRUNCATE TABLE age_data''' )
df_age.to_sql(name='age_data', con=engine, if_exists='append', index=False)

engine.execute( '''TRUNCATE TABLE gender_data''' )
df_gender.to_sql(name='gender_data', con=engine, if_exists='append', index=False)

engine.execute( '''TRUNCATE TABLE precondition_data''' )
df_precondition.to_sql(name='precondition_data', con=engine, if_exists='append', index=False)

# Census Data

In [10]:
# Census data
df_census = pd.read_csv(url_census)
df_census = df_census.rename(columns=({"TractId": "tract_id","State":"state","County":"county","TotalPop":"total_pop",
    "Men":"men","Women":"women","Hispanic":"hispanic","White":"white","Black": "black","Native":"native","Asian":"asian",
    "Pacific":"pacific","VotingAgeCitizen":"voting_age_citizen","Income":"income","IncomeErr":"income_err","IncomePerCap":"income_per_cap",
    "IncomePerCapErr":"income_per_cap_err","Poverty":"poverty","ChildPoverty":"child_poverty","Professional":"professional",
    "Service":"service","Office":"office","Construction":"construction","Production":"production","Drive":"drive","Carpool":"carpool",
    "Transit":"transit","Walk":"walk","OtherTransp":"other_transp", "WorkAtHome":"work_at_home","MeanCommute":"mean_commute",
    "Employed":"employed","PrivateWork":"private_work","PublicWork":"public_work","SelfEmployed":"self_employed",
    "FamilyWork":"family_work","Unemployment":"unemployment"}))
df_census.head()

,tract_id,state,county,total_pop,men,women,hispanic,white,black,native,...,walk,other_transp,work_at_home,mean_commute,employed,private_work,public_work,self_employed,family_work,unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3

In [11]:
engine.execute( '''TRUNCATE TABLE census_data''' )
df_census.to_sql(name='census_data', con=engine, if_exists='append', index=False)

# States and Emergency Dates

In [12]:
# Get States and Emergency Dates data
df_states = pd.read_csv(url_states)
df_states.head()

   Unnamed: 0  state_name state emergency_date
0           1     Alabama    AL     2020-03-13
1           2      Alaska    AK     2020-03-11
2           3     Arizona    AZ     2020-03-11
3           4    Arkansas    AR     2020-03-11
4           5  California    CA     2020-03-04

In [13]:
engine.execute( '''TRUNCATE TABLE states_data''' )
df_states.to_sql(name='states_data', con=engine, if_exists='append', index=False)

# Number of tests performed and people hospitalized per state

In [14]:
# Test data statistics
df_tests_and_hospital = pd.read_csv(url_tests_and_hospital).fillna(0)

df_tests_and_hospital['date'] = pd.to_datetime(df_tests_and_hospital['date'],format='%Y%m%d')

df_tests_and_hospital = df_tests_and_hospital.rename(columns={
    'dateChecked':'date_checked',
    'totalTestResults':'total_test_results',
    'deathIncrease':'death_inc',
    'hospitalizedIncrease':'hospitalized_inc',
    'negativeIncrease':'negative_inc',
    'positiveIncrease':'positive_inc',
    'totalTestResultsIncrease':'total_test_results_inc'})
df_tests_and_hospital = df_tests_and_hospital[['date','state','positive','negative','pending','hospitalized','death','total','date_checked','total_test_results','death_inc','hospitalized_inc','negative_inc','positive_inc','total_test_results_inc']]
df_tests_and_hospital['date_checked'] = pd.to_datetime(df_tests_and_hospital['date_checked']).dt.date
df_tests_and_hospital.head()

,date,state,positive,negative,pending,hospitalized,death,total,date_checked,total_test_results,death_inc,hospitalized_inc,negative_inc,positive_inc,total_test_results_inc
0,2020-03-25,AK,42.0,1649.0,0.0,1.0,1.0,1691,2020-03-25,1691,1.0,1.0,663.0,6.0,669.0
1,2020-03-25,AL,283.0,2529.0,0.0,0.0,0.0,2812,2020-03-25,2812,0.0,0.0,423.0,68.0,491.0
2,2020-03-25,AR,280.0,1437.0,0.0,22.0,2.0,1717,2020-03-25,1717,2.0,0.0,490.0,62.0,552.0
3,2020-03-25,AS,0.0,0.0,0.0,0.0,0.0,0,2020-03-25,0,0.0,0.0,0.0,0.0,0.0
4,2020-03-25,AZ,450.0,323.0,53.0,8.0,6.0,826,2020-03-25,773,1.0,0.0,10.0,93.0,103.0

In [15]:
engine.execute( '''TRUNCATE TABLE tests_and_hospital_data''' )
df_tests_and_hospital.to_sql(name='tests_and_hospital_data', con=engine, if_exists='append', index=False)

In [16]:
# Test data statistics
df_covid_states = pd.DataFrame()
df_covid_states = pd.read_csv(url_covid_states).fillna(0)

df_covid_states['date'] = pd.to_datetime(df_covid_states['date'],format='%Y%m%d')
df_covid_states['dateChecked'] = pd.to_datetime(df_covid_states['dateChecked']).dt.date
df_covid_states = df_covid_states.drop(['hash'], axis=1)
df_covid_states = df_covid_states.rename(columns = {
        'hospitalizedCurrently':'hospitalized_curr','hospitalizedCumulative':'hospitalized_cum',
        'inIcuCurrently':'in_ICU_curr','inIcuCumulative':'in_ICU_cum',
        'onVentilatorCurrently':'on_vent_curr','onVentilatorCumulative':'on_vent_cum',
        'total':'dontuse_total','dateChecked':'check_date','totalTestResults':'total_tests','posNeg':'pos_neg','deathIncrease':'death_inc',
        'hospitalizedIncrease':'hospital_inc','negativeIncrease':'neg_inc','positiveIncrease':'pos_inc',
        'totalTestResultsIncrease':'tot_tests_inc'})
df_covid_states.head()

,date,state,positive,negative,pending,hospitalized_curr,hospitalized_cum,in_ICU_curr,in_ICU_cum,on_vent_curr,...,hospitalized,dontuse_total,total_tests,pos_neg,fips,death_inc,hospital_inc,neg_inc,pos_inc,tot_tests_inc
0,2020-04-12,AK,272.0,7766.0,0.0,0.0,31.0,0.0,0.0,0.0,...,31.0,8038.0,8038.0,8038.0,2,0.0,0.0,291.0,15.0,306.0
1,2020-04-12,AL,3525.0,18058.0,0.0,0.0,437.0,0.0,189.0,0.0,...,437.0,21583.0,21583.0,21583.0,1,2.0,35.0,0.0,334.0,334.0
2,2020-04-12,AR,1280.0,18442.0,0.0,74.0,130.0,0.0,43.0,30.0,...,130.0,19722.0,19722.0,19722.0,5,3.0,0.0,1090.0,54.0,1144.0
3,2020-04-12,AS,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,3.0,3.0,60,0.0,0.0,0.0,0.0,0.0
4,2020-04-12,AZ,3539.0,38570.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,42109.0,42109.0,42109.0,4,7.0,0.0,1433.0,146.0,1579.0

In [17]:
engine.execute( '''TRUNCATE TABLE covid_data_states''' )
df_covid_states.to_sql(name='covid_data_states', con=engine, if_exists='append', index=False)

# Individual Case Study

In [18]:
# Get data about CLOSED individual cases)
df_ind_cases_closed = pd.read_csv(url_covid_ind_cases_closed)
df_ind_cases_closed = df_ind_cases_closed.rename(columns={'wuhan(0)_not_wuhan(1)':'wuhan_1_or_0', 
                                            'reporting date': 'reporting_date','Unnamed: 3':'unnamed_3',
                                           'If_onset_approximated':'if_onset_approximated', 'visiting Wuhan':'visit_hotspot',
                                           'from Wuhan':'from_hotspot'})
df_ind_cases_closed['open_closed'] = 'closed'
df_ind_cases_closed = df_ind_cases_closed[['id','open_closed','reporting_date','age','gender','location','country','from_hotspot','visit_hotspot','summary','death','symptom']]
df_ind_cases_closed.head()

,id,open_closed,reporting_date,age,gender,location,country,from_hotspot,visit_hotspot,summary,death,symptom
0,1,closed,1/20/2020,66.0,male,"Shenzhen, Guangdong",China,0.0,1,First confirmed imported COVID-19 pneumonia pa...,0,NaN
1,2,closed,1/20/2020,56.0,female,Shanghai,China,1.0,0,First confirmed imported COVID-19 pneumonia pa...,0,NaN
2,3,closed,1/21/2020,46.0,male,Zhejiang,China,1.0,0,First confirmed imported cases in Zhejiang: pa...,0,NaN
3,4,closed,1/21/2020,60.0,female,Tianjin,China,0.0,1,new confirmed imported COVID-19 pneumonia in T...,0,NaN
4,5,closed,1/21/2020,58.0,male,Tianjin,China,0.0,0,new confirmed imported COVID-19 pneumonia in T...,0,NaN

In [19]:
engine.execute( '''TRUNCATE TABLE individual_case_data_closed''' )
df_ind_cases_closed.to_sql(name='individual_case_data_closed', con=engine, if_exists='append', index=False)

In [20]:
df_ind_cases_open = pd.read_csv(url_covid_ind_cases_open)
df_ind_cases_open = df_ind_cases_open.rename(columns={'ID':'id','date_onset_symptoms': 'reporting_date','sex':'gender','province':'location',             
                                           'If_onset_approximated':'if_onset_approximated', 'wuhan(0)_not_wuhan(1)':'visit_hotspot',
                                           'lives_in_Wuhan':'from_hotspot'})
df_ind_cases_open['open_closed'] = 'open'
df_ind_cases_open = df_ind_cases_open[['id','open_closed','reporting_date','age','gender','location','country','from_hotspot','visit_hotspot','outcome','symptoms','date_admission_hospital','chronic_disease']]
df_ind_cases_open.head()

,id,open_closed,reporting_date,age,gender,location,location,country,from_hotspot,visit_hotspot,outcome,symptoms,date_admission_hospital,chronic_disease
0,1.0,open,18.01.2020,30,male,Anhui,NaN,China,yes,1.0,NaN,NaN,20.01.2020,NaN
1,2.0,open,10.01.2020,47,male,Anhui,NaN,China,no,1.0,NaN,NaN,21.01.2020,NaN
2,3.0,open,15.01.2020,49,male,Anhui,High-Tech Zone,China,no,1.0,NaN,NaN,20.01.2020,NaN
3,4.0,open,17.01.2020,47,female,Anhui,High-Tech Zone,China,no,1.0,NaN,NaN,20.01.2020,NaN
4,5.0,open,10.01.2020,50,female,Anhui,NaN,China,no,1.0,NaN,NaN,21.01.2020,NaN

In [21]:
engine.execute( '''TRUNCATE TABLE individual_case_data_open''' )
df_ind_cases_open.to_sql(name='individual_case_data_open', con=engine, if_exists='append', index=False)

# COVID-19 Data from Johns Hopkins

In [22]:
# Read data into Dataframes
df_covid_phase0 = pd.DataFrame()
df_covid_phase1 = pd.DataFrame()
df_covid_phase2 = pd.DataFrame()
df_covid_phase3 = pd.DataFrame()
df_covid_phase4 = pd.DataFrame() 

# Covid data starts at 01-22-2020.csv save in format 2020-02-01 - LOOP over all / just new ones
# Date format has changed 3 times so date ranges to be processed:
# Phase 0: 2020-01-22 - 2020-01-31 (Country/Region = Country)
# Phase 1: 2020-02-01 - 2020-02-29 (Country/Region = Country, Province/State=US County)
# Phase 2: 2020-03-01 - 2020-03-09 (Country/Region = Country, Province/State=US County, NEW: Lat Long)
# Phase 3: 2020-03-10 - 2020-03-21 (Country/Region = Country, Province/State=STATE!!!!! - no more county level)
# Phase 4: 2020-03-22 - onwards (NEW: Admin2 (=County), Active)

# Reset last_db_date only for inital load. Then leave it to setting at start
last_db_date = datetime.strptime('01-22-2020',"%m-%d-%Y").date()
yesterday_date = datetime.today().date() + timedelta(days=-1)
loop_date = last_db_date

print("Last Date in DB:", last_db_date)
print("Today's Date:", yesterday_date)

while loop_date <= yesterday_date:
    
    # Change to date format used in .csv files
    file_date = datetime.strftime(loop_date, "%m-%d-%Y")
    
    # Create URL and get data
    url_covid_file = url_covid + file_date + ".csv"
    print("Now processing: " + url_covid_file)
    df_covid_loop = pd.read_csv(url_covid_file)
    df_covid_loop['short_date'] = loop_date
    
    # Create output path for each file and save file locally then append to overall dataframe
    output_path = os.path.join(base_output_path, "df_covid_" + file_date + ".csv")
    df_covid_loop.to_csv(output_path)
    
    # Split 5 different formats based on date
    if loop_date < datetime.strptime('02-01-2020',"%m-%d-%Y").date(): 
        df_covid_phase0 = df_covid_phase0.append(df_covid_loop)
    elif loop_date <= datetime.strptime('02-29-2020',"%m-%d-%Y").date(): 
        df_covid_phase1 = df_covid_phase1.append(df_covid_loop)
    elif loop_date < datetime.strptime('03-10-2020',"%m-%d-%Y").date():
        df_covid_phase2 = df_covid_phase2.append(df_covid_loop)
    elif loop_date < datetime.strptime('03-22-2020',"%m-%d-%Y").date():
        df_covid_phase3 = df_covid_phase3.append(df_covid_loop)
    else:
        df_covid_phase4 = df_covid_phase4.append(df_covid_loop)
        
        
    # Get the next file
    loop_date = loop_date + timedelta(days=1)

Last Date in DB: 2020-01-22
Today's Date: 2020-04-12
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-23-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-24-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-25-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-26-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-27-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-28-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-29-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-30-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-31-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-01-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-02-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-03-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-04-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-05-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-06-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-07-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-08-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-09-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-10-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-11-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-12-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-13-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-14-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-15-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-16-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-17-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-18-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-19-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-20-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-21-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-22-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-23-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-24-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-25-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-26-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-27-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-28-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/02-29-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-01-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-02-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-03-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-04-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-05-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-06-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-07-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-08-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-09-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-10-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-11-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-12-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-13-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-14-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-15-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-16-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-18-2020.csv

Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-19-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-20-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-21-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-22-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-23-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-24-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-25-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-26-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-27-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-28-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-29-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-30-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-31-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-02-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-03-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-04-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-05-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-06-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-07-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-08-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-09-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-10-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-11-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-12-2020.csv

In [23]:
df_covid_phase0.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,short_date
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,2020-01-22
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,2020-01-22
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN,2020-01-22
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,2020-01-22
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN,2020-01-22

In [24]:
df_covid_phase0.fillna(0, inplace=True)
df_covid_phase0['Confirmed'] = df_covid_phase0['Confirmed'].astype(int)
df_covid_phase0['Deaths'] = df_covid_phase0['Deaths'].astype(int)
df_covid_phase0['Recovered'] = df_covid_phase0['Recovered'].astype(int)
df_covid_phase0 = df_covid_phase0.rename(columns = {'Province/State':'province_state','Country/Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Recovered':'recovered'})
df_covid_phase0['active'] = 0
df_covid_phase0['latitude'] = 0
df_covid_phase0['longitude'] = 0
df_covid_phase0['us_county'] = ""

df_covid_0 = df_covid_phase0[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_0.head()

,province_state,country_region,confirmed,deaths,recovered,active,short_date,latitude,longitude,us_county
0,Anhui,Mainland China,1,0,0,0,2020-01-22,0,0,
1,Beijing,Mainland China,14,0,0,0,2020-01-22,0,0,
2,Chongqing,Mainland China,6,0,0,0,2020-01-22,0,0,
3,Fujian,Mainland China,1,0,0,0,2020-01-22,0,0,
4,Gansu,Mainland China,0,0,0,0,2020-01-22,0,0,

In [25]:
engine.execute( '''TRUNCATE TABLE covid_data_0''' )    
df_covid_0.to_sql(name='covid_data_0', con=engine, if_exists='append', index=False)

In [26]:
df_covid_phase1.fillna(0, inplace=True)
df_covid_phase1['Confirmed'] = df_covid_phase1['Confirmed'].astype(int)
df_covid_phase1['Deaths'] = df_covid_phase1['Deaths'].astype(int)
df_covid_phase1['Recovered'] = df_covid_phase1['Recovered'].astype(int)
df_covid_phase1 = df_covid_phase1.rename(columns = {'Province/State':'province_state','Country/Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Recovered':'recovered'})
df_covid_phase1['active'] = 0
df_covid_phase1['latitude'] = 0
df_covid_phase1['longitude'] = 0
df_covid_phase1['us_county'] = ""

df_covid_1 = df_covid_phase1[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_1.head()

,province_state,country_region,confirmed,deaths,recovered,active,short_date,latitude,longitude,us_county
0,Hubei,Mainland China,7153,249,168,0,2020-02-01,0,0,
1,Zhejiang,Mainland China,599,0,21,0,2020-02-01,0,0,
2,Guangdong,Mainland China,535,0,14,0,2020-02-01,0,0,
3,Henan,Mainland China,422,2,3,0,2020-02-01,0,0,
4,Hunan,Mainland China,389,0,8,0,2020-02-01,0,0,

In [27]:
engine.execute( '''TRUNCATE TABLE covid_data_1''' )    
df_covid_1.to_sql(name='covid_data_1', con=engine, if_exists='append', index=False)

In [28]:
df_covid_phase2.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,short_date
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707,2020-03-01
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000,2020-03-01
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000,2020-03-01
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244,2020-03-01
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140,2020-03-01

In [29]:
df_covid_phase2.fillna(0, inplace=True)
df_covid_phase2['Confirmed'] = df_covid_phase2['Confirmed'].astype(int)
df_covid_phase2['Deaths'] = df_covid_phase2['Deaths'].astype(int)
df_covid_phase2['Recovered'] = df_covid_phase2['Recovered'].astype(int)
df_covid_phase2 = df_covid_phase2.rename(columns = {'Province/State':'province_state','Country/Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Recovered':'recovered','Latitude':'latitude','Longitude':'longitude'})
df_covid_phase2['active'] = 0
df_covid_phase2['us_county'] = ""

df_covid_2 = df_covid_phase2[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_2.head()

,province_state,country_region,confirmed,deaths,recovered,active,short_date,latitude,longitude,us_county
0,Hubei,Mainland China,66907,2761,31536,0,2020-03-01,30.9756,112.2707,
1,0,South Korea,3736,17,30,0,2020-03-01,36.0000,128.0000,
2,0,Italy,1694,34,83,0,2020-03-01,43.0000,12.0000,
3,Guangdong,Mainland China,1349,7,1016,0,2020-03-01,23.3417,113.4244,
4,Henan,Mainland China,1272,22,1198,0,2020-03-01,33.8820,113.6140,

In [30]:
engine.execute( '''TRUNCATE TABLE covid_data_2''' )     
df_covid_2.to_sql(name='covid_data_2', con=engine, if_exists='append', index=False)

In [31]:
df_covid_phase3.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,short_date
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,2020-03-10
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,2020-03-10
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,2020-03-10
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,2020-03-10
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,2020-03-10

In [32]:
df_covid_phase3.fillna(0, inplace=True)
df_covid_phase3['Confirmed'] = df_covid_phase3['Confirmed'].astype(int)
df_covid_phase3['Deaths'] = df_covid_phase3['Deaths'].astype(int)
df_covid_phase3['Recovered'] = df_covid_phase3['Recovered'].astype(int)
df_covid_phase3 = df_covid_phase3.rename(columns = {'Province/State':'province_state','Country/Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Recovered':'recovered','Latitude':'latitude','Longitude':'longitude'})
df_covid_phase3['active'] = 0
df_covid_phase3['us_county'] = ""

df_covid_3 = df_covid_phase3[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_3.head()

,province_state,country_region,confirmed,deaths,recovered,active,short_date,latitude,longitude,us_county
0,Hubei,Mainland China,67760,3024,47743,0,2020-03-10,30.9756,112.2707,
1,0,Italy,10149,631,724,0,2020-03-10,43.0000,12.0000,
2,0,Iran (Islamic Republic of),8042,291,2731,0,2020-03-10,32.0000,53.0000,
3,0,Republic of Korea,7513,54,247,0,2020-03-10,36.0000,128.0000,
4,0,France,1784,33,12,0,2020-03-10,47.0000,2.0000,

In [33]:
engine.execute( '''TRUNCATE TABLE covid_data_3''' )     
df_covid_3.to_sql(name='covid_data_3', con=engine, if_exists='append', index=False)

In [34]:
df_covid_phase4.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,short_date
0,36061.0,New York City,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0,0,"New York City, New York, US",2020-03-22
1,36059.0,Nassau,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0,0,"Nassau, New York, US",2020-03-22
2,36119.0,Westchester,New York,US,3/22/20 23:45,41.162784,-73.757417,1873,0,0,0,"Westchester, New York, US",2020-03-22
3,36103.0,Suffolk,New York,US,3/22/20 23:45,40.883201,-72.801217,1034,9,0,0,"Suffolk, New York, US",2020-03-22
4,36087.0,Rockland,New York,US,3/22/20 23:45,41.150279,-74.025605,455,1,0,0,"Rockland, New York, US",2020-03-22

In [35]:
df_covid_phase4.fillna(0, inplace=True)
df_covid_phase4['Confirmed'] = df_covid_phase4['Confirmed'].astype(int)
df_covid_phase4['Deaths'] = df_covid_phase4['Deaths'].astype(int)
df_covid_phase4['Recovered'] = df_covid_phase4['Recovered'].astype(int)
df_covid_phase4['Active'] = df_covid_phase4['Active'].astype(int)
df_covid_phase4 = df_covid_phase4.rename(columns = {'Province_State':'province_state','Country_Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Active':'active','Recovered':'recovered','Lat':'latitude','Long_':'longitude','Admin2':'us_county'})

df_covid_4 = df_covid_phase4[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_4.head()

,province_state,country_region,confirmed,deaths,recovered,active,short_date,latitude,longitude,us_county
0,New York,US,9654,63,0,0,2020-03-22,40.767273,-73.971526,New York City
1,New York,US,1900,4,0,0,2020-03-22,40.740665,-73.589419,Nassau
2,New York,US,1873,0,0,0,2020-03-22,41.162784,-73.757417,Westchester
3,New York,US,1034,9,0,0,2020-03-22,40.883201,-72.801217,Suffolk
4,New York,US,455,1,0,0,2020-03-22,41.150279,-74.025605,Rockland

In [36]:
engine.execute( '''TRUNCATE TABLE covid_data_4''' )        
df_covid_4.to_sql(name='covid_data_4', con=engine, if_exists='append', index=False)

# Run code below AGAIN (manually) AFTER running post_script.sql!!!!

In [39]:
df_case_study_all = pd.read_sql('select * from case_study_all_v', con=engine)
df_case_study_all.head()

,status,id,age,gender,final_outcome,age_0_39,age_40_49,age_50_59,age_60_69,age_70_79,...,malaise,breath,fatigue,diarrhea,headache,throat_ache,soreness,precondition,visit_hotspot,from_hotspot
0,open,7289.0,None,None,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,open,9874.0,None,None,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,open,6832.0,None,None,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,open,12994.0,None,None,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,open,1768.0,None,None,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [40]:
df_covid_and_census_by_state_v = pd.read_sql('select * from covid_and_census_by_state_v', con=engine)
df_covid_and_census_by_state_v.head()

,date,state_name,state,emergency_date,first_case_date,positive,negative,pending,hospitalized,death,...,latitude,longitude,total_pop,men,women,white,black,hispanic,native,pacific
0,2020-04-12,Alaska,AK,2020-03-11,2020-03-10,272,7766,0,31,8,...,61.3707,-152.4044,738565.0,386319.0,352246.0,454495.0,22572.0,50193.0,101687.0,8795.0
1,2020-04-12,Alabama,AL,2020-03-13,2020-03-13,3525,18058,0,437,93,...,32.3182,-86.9023,4850771.0,2350806.0,2499965.0,3198112.0,1281049.0,198306.0,22595.0,1456.0
2,2020-04-12,Arkansas,AR,2020-03-11,2020-03-10,1280,18442,0,130,27,...,34.9697,-92.3731,2977944.0,1461651.0,1516293.0,2174304.0,457156.0,213263.0,16962.0,6981.0
3,2020-04-12,Arizona,AZ,2020-03-11,2020-01-26,3539,38570,0,0,115,...,33.7298,-111.4312,6809946.0,3385055.0,3424891.0,3786436.0,276092.0,2103476.0,266620.0,12009.0
4,2020-04-12,California,CA,2020-03-04,2020-01-26,21794,168534,13200,0,651,...,36.1162,-119.6816,38982847.0,19366579.0,19616268.0,14777803.0,2161560.0,15105839.0,137749.0,138214.0