In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
from sqlalchemy import create_engine

# Setup Steps

In [2]:
# Set where .csv files needs to be saved
base_output_path = "../../data"

# Create a POSTGRES database with the name 'COVID19_db'
# Replace username:password if it's not set to postgres:postgres
DATABASE_URI = os.environ.get('DATABASE_URL', '') or "postgresql://postgres:postgres@localhost:5432/COVID19_db"
print(DATABASE_URI)

engine = create_engine(DATABASE_URI)

postgresql://postgres:postgres@localhost:5432/COVID19_db

In [3]:
# Set URL's

# REALTIME DOWNLOADS
url_covid = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'
url_covid_states = 'https://raw.githubusercontent.com/COVID19Tracking/covid-tracking-data/master/data/states_daily_4pm_et.csv'

# Download latest Kaggle data manually: https://www.kaggle.com/sudalairajkumar/covid19-in-usa#us_states_covid19_daily.csv
url_tests_and_hospital = os.path.join(base_output_path, 'us_states_covid19_daily.csv')

In [4]:
# Find last time covid_data was loaded
query_str = open('sql/max_db_date.sql')
query_text = ""
for text in query_str:
    query_text = query_text + text

rs = engine.execute(query_text)

for i in rs:
    last_db_date = (i[0])
print(last_db_date)

current_date = datetime.today().date()
print(current_date)

2020-04-19
2020-04-27

# Number of tests performed and people hospitalized per state

In [5]:
# Test data statistics
df_covid_states = pd.DataFrame()
df_covid_states = pd.read_csv(url_covid_states).fillna(0)

df_covid_states['date'] = pd.to_datetime(df_covid_states['date'],format='%Y%m%d')
df_covid_states['dateChecked'] = pd.to_datetime(df_covid_states['dateChecked']).dt.date
df_covid_states = df_covid_states.drop(['hash'], axis=1)
df_covid_states = df_covid_states.rename(columns = {
        'hospitalizedCurrently':'hospitalized_curr','hospitalizedCumulative':'hospitalized_cum',
        'inIcuCurrently':'in_ICU_curr','inIcuCumulative':'in_ICU_cum',
        'onVentilatorCurrently':'on_vent_curr','onVentilatorCumulative':'on_vent_cum',
        'total':'dontuse_total','dateChecked':'check_date','totalTestResults':'total_tests','posNeg':'pos_neg','deathIncrease':'death_inc',
        'hospitalizedIncrease':'hospital_inc','negativeIncrease':'neg_inc','positiveIncrease':'pos_inc',
        'totalTestResultsIncrease':'tot_tests_inc'})
# 2 new lines to only get the delta records
df_covid_states = df_covid_states[df_covid_states['date']<=current_date]
df_covid_states = df_covid_states[df_covid_states['date']>last_db_date]
df_covid_states.head()

C:\Users\dutch\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  app.launch_new_instance()
C:\Users\dutch\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

,date,state,positive,negative,pending,hospitalized_curr,hospitalized_cum,in_ICU_curr,in_ICU_cum,on_vent_curr,...,hospitalized,dontuse_total,total_tests,pos_neg,fips,death_inc,hospital_inc,neg_inc,pos_inc,tot_tests_inc
0,2020-04-26,AK,341.0,15836.0,0.0,14.0,0.0,0.0,0.0,0.0,...,0.0,16177.0,16177.0,16177.0,2,0.0,0.0,443.0,2.0,445.0
1,2020-04-26,AL,6270.0,67281.0,0.0,0.0,845.0,0.0,288.0,0.0,...,845.0,73551.0,73551.0,73551.0,1,4.0,6.0,2074.0,133.0,2207.0
2,2020-04-26,AR,2941.0,36528.0,0.0,104.0,291.0,0.0,0.0,25.0,...,291.0,39469.0,39469.0,39469.0,5,2.0,0.0,1304.0,112.0,1416.0
3,2020-04-26,AS,0.0,3.0,17.0,0.0,0.0,0.0,0.0,0.0,...,0.0,20.0,3.0,3.0,60,0.0,0.0,0.0,0.0,0.0
4,2020-04-26,AZ,6526.0,58285.0,0.0,671.0,1037.0,308.0,0.0,200.0,...,1037.0,64811.0,64811.0,64811.0,4,9.0,15.0,2057.0,246.0,2303.0

In [6]:
df_covid_states.columns

Index(['date', 'state', 'positive', 'negative', 'pending', 'hospitalized_curr',
       'hospitalized_cum', 'in_ICU_curr', 'in_ICU_cum', 'on_vent_curr',
       'on_vent_cum', 'recovered', 'check_date', 'death', 'hospitalized',
       'dontuse_total', 'total_tests', 'pos_neg', 'fips', 'death_inc',
       'hospital_inc', 'neg_inc', 'pos_inc', 'tot_tests_inc'],
      dtype='object')

In [7]:
# engine.execute( '''TRUNCATE TABLE covid_data_states''' )
df_covid_states.to_sql(name='covid_data_states', con=engine, if_exists='append', index=False)

# COVID-19 Data from Johns Hopkins

In [8]:
# Read data into Dataframes
df_covid_phase0 = pd.DataFrame()
df_covid_phase1 = pd.DataFrame()
df_covid_phase2 = pd.DataFrame()
df_covid_phase3 = pd.DataFrame()
df_covid_phase4 = pd.DataFrame() 

# Covid data starts at 01-22-2020.csv save in format 2020-02-01 - LOOP over all / just new ones
# Date format has changed 3 times so date ranges to be processed:
# Phase 0: 2020-01-22 - 2020-01-31 (Country/Region = Country)
# Phase 1: 2020-02-01 - 2020-02-29 (Country/Region = Country, Province/State=US County)
# Phase 2: 2020-03-01 - 2020-03-09 (Country/Region = Country, Province/State=US County, NEW: Lat Long)
# Phase 3: 2020-03-10 - 2020-03-21 (Country/Region = Country, Province/State=STATE!!!!! - no more county level)
# Phase 4: 2020-03-22 - onwards (NEW: Admin2 (=County), Active)

# Reset last_db_date only for inital load. Then leave it to setting at start
# last_db_date = datetime.strptime('01-22-2020',"%m-%d-%Y").date()
yesterday_date = datetime.today().date() + timedelta(days=-1)
loop_date = last_db_date + timedelta(days=+1)

print("Last Date in DB:", last_db_date)
print("Yesterday's Date:", yesterday_date)

while loop_date <= yesterday_date:
    
    # Change to date format used in .csv files
    file_date = datetime.strftime(loop_date, "%m-%d-%Y")
    
    # Create URL and get data
    url_covid_file = url_covid + file_date + ".csv"
    print("Now processing: " + url_covid_file)
    df_covid_loop = pd.read_csv(url_covid_file)
    df_covid_loop['short_date'] = loop_date
    
    # Create output path for each file and save file locally then append to overall dataframe
    output_path = os.path.join(base_output_path, "df_covid_" + file_date + ".csv")
    df_covid_loop.to_csv(output_path)
    
    # Split 5 different formats based on date
    if loop_date < datetime.strptime('02-01-2020',"%m-%d-%Y").date(): 
        df_covid_phase0 = df_covid_phase0.append(df_covid_loop)
    elif loop_date <= datetime.strptime('02-29-2020',"%m-%d-%Y").date(): 
        df_covid_phase1 = df_covid_phase1.append(df_covid_loop)
    elif loop_date < datetime.strptime('03-10-2020',"%m-%d-%Y").date():
        df_covid_phase2 = df_covid_phase2.append(df_covid_loop)
    elif loop_date < datetime.strptime('03-22-2020',"%m-%d-%Y").date():
        df_covid_phase3 = df_covid_phase3.append(df_covid_loop)
    else:
        df_covid_phase4 = df_covid_phase4.append(df_covid_loop)
        
        
    # Get the next file
    loop_date = loop_date + timedelta(days=1)

Last Date in DB: 2020-04-19
Yesterday's Date: 2020-04-26
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-20-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-21-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-22-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-23-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-24-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-25-2020.csv
Now processing: https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-26-2020.csv

In [9]:
df_covid_phase4.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,short_date
0,45001.0,Abbeville,South Carolina,US,2020-04-20 23:36:47,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US",2020-04-20
1,22001.0,Acadia,Louisiana,US,2020-04-20 23:36:47,30.295065,-92.414197,114,7,0,107,"Acadia, Louisiana, US",2020-04-20
2,51001.0,Accomack,Virginia,US,2020-04-20 23:36:47,37.767072,-75.632346,52,0,0,52,"Accomack, Virginia, US",2020-04-20
3,16001.0,Ada,Idaho,US,2020-04-20 23:36:47,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US",2020-04-20
4,19001.0,Adair,Iowa,US,2020-04-20 23:36:47,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US",2020-04-20

In [10]:
df_covid_phase4.fillna(0, inplace=True)
df_covid_phase4['Confirmed'] = df_covid_phase4['Confirmed'].astype(int)
df_covid_phase4['Deaths'] = df_covid_phase4['Deaths'].astype(int)
df_covid_phase4['Recovered'] = df_covid_phase4['Recovered'].astype(int)
df_covid_phase4['Active'] = df_covid_phase4['Active'].astype(int)
df_covid_phase4 = df_covid_phase4.rename(columns = {'Province_State':'province_state','Country_Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Active':'active','Recovered':'recovered','Lat':'latitude','Long_':'longitude','Admin2':'us_county'})

df_covid_4 = df_covid_phase4[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_4.head()

,province_state,country_region,confirmed,deaths,recovered,active,short_date,latitude,longitude,us_county
0,South Carolina,US,17,0,0,17,2020-04-20,34.223334,-82.461707,Abbeville
1,Louisiana,US,114,7,0,107,2020-04-20,30.295065,-92.414197,Acadia
2,Virginia,US,52,0,0,52,2020-04-20,37.767072,-75.632346,Accomack
3,Idaho,US,598,10,0,588,2020-04-20,43.452658,-116.241552,Ada
4,Iowa,US,1,0,0,1,2020-04-20,41.330756,-94.471059,Adair

In [11]:
# engine.execute( '''TRUNCATE TABLE covid_data_phase4''' )        
df_covid_4.to_sql(name='covid_data_4', con=engine, if_exists='append', index=False)